<% layout("/boilerplate/index") %>
<body>
    <center>
    <div class="row" style="width: 80%;">
        <div class="col">
            <input type="text" id="idInput" placeholder="Category Id" class="form-control" readonly>
        </div>
        <div class="col" >
            <input type="text" id="nameInput" placeholder="Category Name" class="form-control">
        </div>
    </div>
    <br>
    
    <button type="button" class="btn btn-primary" onclick="addCategory();">Add</button>
    <button type="button" class="btn btn-success" onclick="editCategory();">Edit</button>
    <button type="button" class="btn btn-danger" onclick="deleteCategory();">Delete</button>
    <button type="button" class="btn btn-warning" onclick="formReset();">Reset</button>
    

    <br><br>
    <div style="width: 80%;">
        <table id="table" class="table table-bordered table-striped">
            <thead class="table-primary">
                <th>Category Id</th>
                <th>Category Name</th>
                <th></th>
            </thead>
            <tbody>
                <% for(category of categories) {%>
                    <tr>
                        <td><%= category._id %></td>
                        <td><%= category.name %></td>
                        <td><button class="btn btn-outline-info" onclick="fetch('<%= category._id %>', '<%= category.name %>');"><i class="bi bi-eye"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                          </svg></button></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    
</center>
    <script>
        function fetch(id, name){
            let idInput = document.querySelector('#idInput');
            let nameInput = document.querySelector('#nameInput');
            idInput.value = id;
            nameInput.value = name;
        }

        function formReset(){
            let idInput = document.querySelector('#idInput');
            let nameInput = document.querySelector('#nameInput');
            idInput.value = '';
            nameInput.value = '';
        }

        function addCategory() {
            const nameInput = document.querySelector('#nameInput').value;
            const idInput = document.querySelector('#idInput').value;
            if(idInput!=''){
                alert('First click on reset button then any category!');
            }
            else if(nameInput==''){
                alert('Please enter category name');
            }
            else{
                const category = {
                    name: nameInput
                };

                console.log('Sending POST request:', category); // Debug log

                const xhr = new XMLHttpRequest();
                xhr.open('POST', '/category', true);
                xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');

                xhr.send(JSON.stringify(category));
                location.reload();
            }
        }

        function editCategory(){
            const nameInput = document.querySelector('#nameInput').value;
            const idInput = document.querySelector('#idInput').value;
            if(nameInput=='' && idInput==''){
                alert('Please choose any category');
            }
            else{
                const category = {
                    id: idInput,
                    name: nameInput
                };

                const xhr = new XMLHttpRequest();
                xhr.open('PUT', '/category', true);
                xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');

                xhr.send(JSON.stringify(category));
                location.reload();
            }     
        }

        function deleteCategory(){
            const idInput = document.querySelector('#idInput').value;
            const nameInput = document.querySelector('#nameInput').value;
            if(nameInput=='' && idInput==''){
                alert('Please choose any category');
            }
            else{
                if(confirm('Do you really want to delete '+nameInput+' category?')){
                    const category = {
                        id: idInput,
                    };

                    const xhr = new XMLHttpRequest();
                    xhr.open('DELETE', '/category', true);
                    xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');

                    xhr.send(JSON.stringify(category));
                    location.reload();
                }
                
            }
            
        }
        
    </script>
</body>
