<nav class="navbar bg-body-tertiary sticky-top">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1" style="color: white;"><i class="fa-solid fa-store fa-xl"></i>  Retail Store Management</span>
    </div>
  </nav>