
<div class="sidebar sticky-left">
    <a href="/" class="btn btn-outline-light sidebar-btn"><i class="fa-solid fa-flag"></i>   Dashboard</a>
    <a href="/category" class="btn btn-outline-light sidebar-btn"><i class="fa-solid fa-layer-group"></i>   Category</a>
    <a href="/product" class="btn btn-outline-light sidebar-btn"><i class="fa-solid fa-burger"></i>   Products</a>
    <a href="/customer" class="btn btn-outline-light sidebar-btn"><i class="fa-solid fa-user"></i>   Customers</a>
    <a href="/order" class="btn btn-outline-light sidebar-btn"><i class="fa-solid fa-list-check"></i>   Orders</a>
    <a href="/bill" class="btn btn-outline-light sidebar-btn"><i class="fa-solid fa-file-invoice-dollar"></i>   Billing</a>
</div>